@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.wireframe-1-child {
  position: absolute;
  top: 0;
  left: 1040px;
  width: 4px;
  height: 1024px;
}
.charbar-for-text1 {
  position: absolute;
  top: 57px;
  left: calc(50% + 347px);
  background-color: var(--color-linen);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 351px;
  height: 916px;
}
.therapistcamera1,
.usercamera1 {
  position: absolute;
  top: 79px;
  left: 67px;
  border-radius: var(--br-8xs);
  background-color: var(--color-lavender);
  backdrop-filter: blur(4px);
  border: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 916px;
  height: 619px;
}
.usercamera1 {
  top: 501px;
  left: 690px;
  width: 327px;
  height: 251px;
}
.chaticon1 {
  position: absolute;
  top: 7px;
  left: 20.3px;
  width: 159.4px;
  height: 55px;
  object-fit: cover;
}
.chat1,
.videobutton1 {
  position: absolute;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 200px;
  height: 69px;
}
.chat1 {
  top: 825px;
  left: 537px;
  opacity: 1;
}
.chat1.animate,
.uservideo1.animate {
  animation: 1s ease 0s 1 normal backwards shadow-inset-center;
}
.videobutton1 {
  top: 0;
  left: 200px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.cameraicon1 {
  position: absolute;
  top: 4px;
  left: 64.9px;
  width: 70px;
  height: 62.5px;
  object-fit: cover;
}
.uservideo1 {
  position: absolute;
  top: 825px;
  left: 761.1px;
  width: 200px;
  height: 69px;
  opacity: 1;
}
.voiceicon1 {
  position: absolute;
  top: 10px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.voice1 {
  position: absolute;
  top: 825px;
  left: 313px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 200px;
  height: 69px;
}
.company3 {
  margin: 0;
}
.company2 {
  position: absolute;
  top: 835px;
  left: 77px;
  display: inline-block;
  width: 203px;
  height: 54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.wireframe-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .chat1,
  .voice1 {
    opacity: 1;
  }
  .chat1.animate,
  .voice1.animate {
    animation: 1s ease 0s 1 normal backwards shadow-inset-center;
  }
  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 transparent;
    }
    to {
      box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
    }
  }
  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 transparent;
    }
    to {
      box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
    }
  }
  .voice1:active {
    animation: 1s ease 0s infinite normal backwards shadow-inset-center;
    opacity: 1;
  }
}


.btn.mic-icon.clicked {
  /* Add your desired styles for the button when it's clicked */
  background-color: red; /* Change to your preferred color */
  /* You can adjust other styles like border, text color, etc. */
}