
.recordButton {
  position: absolute;
  bottom: 0px;
}


@media screen and (max-width: 1200px) {

  .chat1,
  .voice1 {
    opacity: 1;
  }

  .chat1.animate,
  .voice1.animate {
    animation: 1s ease 0s 1 normal backwards shadow-inset-center;
  }

  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 transparent;
    }

    to {
      box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
    }
  }

  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 transparent;
    }

    to {
      box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
    }
  }

  .voice1:active {
    animation: 1s ease 0s infinite normal backwards shadow-inset-center;
    opacity: 1;
  }
}


.btn.mic-icon.clicked {
  /* Add your desired styles for the button when it's clicked */
  background-color: red;
  /* Change to your preferred color */
  /* You can adjust other styles like border, text color, etc. */
}

.wavy {
  position: relative;
  width: 150px;
  height: 50px;
  background: #333;
  overflow: hidden;
}

.wavy::before {
  content: "cccccccc";
  position: absolute;
  top: -47px;
  left: 0;
  font-size: 4em;
  color: transparent;
  text-decoration-style: wavy;
  text-decoration-color: #3350ff;
  text-decoration-line: underline;
}

@keyframes wiggle {
  0% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(-50px);
  }
}

.row {
  position: relative;
  transform: translateX(50%);
  transform: translateY(10%);
  width: 100%;
  text-align: center;
}

.videoTitle {
  position: relative;
  transform: translateY(150%);
  width: 100%;
  text-align: center;
}

.videoControls {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}


.outerdiv {
  display: flex;
  flex-direction: row;
}

.videoControls{
  justify-content: center;
}


.chat-box .chat{
  display: flex;
}

.chat-box .chat p{
  color: #fff;
  padding: 10px 16px;
  border-radius: 10px 10px 0 10px;
  background: #724ae9;
}

.chat-box .incoming p{
  
  display: inline-block;
  max-width: 70%; /* Adjust the width of the message box */
  word-wrap: break-word;
}

.chat-box .incoming{
  justify-content: flex-start;
}

.chat-box .outgoing{
  justify-content: flex-end;
}

.chat-message {
  display: flex;
  align-items: center;
}

.chat-message svg {
  margin-right: 100px; /* Adjust as needed for spacing */
}


